# Loading data into Pandas

In [2]:
import pandas as pd
df = pd.read_csv("pokemon_data.csv")
# df = pd.read_csv("pokemon_data.txt", delimiter='\t')
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

# Reading Data in Pandas

In [145]:
## Read Headers
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [146]:
# Read each column
df["Name"][0:5]

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [147]:
# Read multiple colums
df[["Name", "Type 1", "HP"]]

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [148]:
# Read each row
df.iloc[1]

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [149]:
# Read multiple Rows with iloc
df.iloc[0:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [150]:
# read a specific location
df.iloc[2,1]

'Venusaur'

In [151]:
# using a for loop to access some rows
for index, row in df.iterrows():
    print(index, row["Name"])

0 Bulbasaur
1 Ivysaur
2 Venusaur
3 VenusaurMega Venusaur
4 Charmander
5 Charmeleon
6 Charizard
7 CharizardMega Charizard X
8 CharizardMega Charizard Y
9 Squirtle
10 Wartortle
11 Blastoise
12 BlastoiseMega Blastoise
13 Caterpie
14 Metapod
15 Butterfree
16 Weedle
17 Kakuna
18 Beedrill
19 BeedrillMega Beedrill
20 Pidgey
21 Pidgeotto
22 Pidgeot
23 PidgeotMega Pidgeot
24 Rattata
25 Raticate
26 Spearow
27 Fearow
28 Ekans
29 Arbok
30 Pikachu
31 Raichu
32 Sandshrew
33 Sandslash
34 Nidoran (Female)
35 Nidorina
36 Nidoqueen
37 Nidoran (Male)
38 Nidorino
39 Nidoking
40 Clefairy
41 Clefable
42 Vulpix
43 Ninetales
44 Jigglypuff
45 Wigglytuff
46 Zubat
47 Golbat
48 Oddish
49 Gloom
50 Vileplume
51 Paras
52 Parasect
53 Venonat
54 Venomoth
55 Diglett
56 Dugtrio
57 Meowth
58 Persian
59 Psyduck
60 Golduck
61 Mankey
62 Primeape
63 Growlithe
64 Arcanine
65 Poliwag
66 Poliwhirl
67 Poliwrath
68 Abra
69 Kadabra
70 Alakazam
71 AlakazamMega Alakazam
72 Machop
73 Machoke
74 Machamp
75 Bellsprout
76 Weepinbell
77 Victreebel
78 Tentacool
79 Tentacruel
80 Geodude
81 Graveler
82 Golem
83 Ponyta
84 Rapidash
85 Slowpoke
86 Slowbro
87 SlowbroMega Slowbro
88 Magnemite
89 Magneton
90 Farfetch'd
91 Doduo
92 Dodrio
93 Seel
94 Dewgong
95 Grimer
96 Muk
97 Shellder
98 Cloyster
99 Gastly
100 Haunter
101 Gengar
102 GengarMega Gengar
103 Onix
104 Drowzee
105 Hypno
106 Krabby
107 Kingler
108 Voltorb
109 Electrode
110 Exeggcute
111 Exeggutor
112 Cubone
113 Marowak
114 Hitmonlee
115 Hitmonchan
116 Lickitung
117 Koffing
118 Weezing
119 Rhyhorn
120 Rhydon
121 Chansey
122 Tangela
123 Kangaskhan
124 KangaskhanMega Kangaskhan
125 Horsea
126 Seadra
127 Goldeen
128 Seaking
129 Staryu
130 Starmie
131 Mr. Mime
132 Scyther
133 Jynx
134 Electabuzz
135 Magmar
136 Pinsir
137 PinsirMega Pinsir
138 Tauros
139 Magikarp
140 Gyarados
141 GyaradosMega Gyarados
142 Lapras
143 Ditto
144 Eevee
145 Vaporeon
146 Jolteon
147 Flareon
148 Porygon
149 Omanyte
150 Omastar
151 Kabuto
152 Kabutops
153 Aerodactyl
154 AerodactylMega Aerodactyl
155 Snorlax
156 Articuno
157 Zapdos
158 Moltres
159 Dratini
160 Dragonair
161 Dragonite
162 Mewtwo
163 MewtwoMega Mewtwo X
164 MewtwoMega Mewtwo Y
165 Mew
166 Chikorita
167 Bayleef
168 Meganium
169 Cyndaquil
170 Quilava
171 Typhlosion
172 Totodile
173 Croconaw
174 Feraligatr
175 Sentret
176 Furret
177 Hoothoot
178 Noctowl
179 Ledyba
180 Ledian
181 Spinarak
182 Ariados
183 Crobat
184 Chinchou
185 Lanturn
186 Pichu
187 Cleffa
188 Igglybuff
189 Togepi
190 Togetic
191 Natu
192 Xatu
193 Mareep
194 Flaaffy
195 Ampharos
196 AmpharosMega Ampharos
197 Bellossom
198 Marill
199 Azumarill
200 Sudowoodo
201 Politoed
202 Hoppip
203 Skiploom
204 Jumpluff
205 Aipom
206 Sunkern
207 Sunflora
208 Yanma
209 Wooper
210 Quagsire
211 Espeon
212 Umbreon
213 Murkrow
214 Slowking
215 Misdreavus
216 Unown
217 Wobbuffet
218 Girafarig
219 Pineco
220 Forretress
221 Dunsparce
222 Gligar
223 Steelix
224 SteelixMega Steelix
225 Snubbull
226 Granbull
227 Qwilfish
228 Scizor
229 ScizorMega Scizor
230 Shuckle
231 Heracross
232 HeracrossMega Heracross
233 Sneasel
234 Teddiursa
235 Ursaring
236 Slugma
237 Magcargo
238 Swinub
239 Piloswine
240 Corsola
241 Remoraid
242 Octillery
243 Delibird
244 Mantine
245 Skarmory
246 Houndour
247 Houndoom
248 HoundoomMega Houndoom
249 Kingdra
250 Phanpy
251 Donphan
252 Porygon2
253 Stantler
254 Smeargle
255 Tyrogue
256 Hitmontop
257 Smoochum
258 Elekid
259 Magby
260 Miltank
261 Blissey
262 Raikou
263 Entei
264 Suicune
265 Larvitar
266 Pupitar
267 Tyranitar
268 TyranitarMega Tyranitar
269 Lugia
270 Ho-oh
271 Celebi
272 Treecko
273 Grovyle
274 Sceptile
275 SceptileMega Sceptile
276 Torchic
277 Combusken
278 Blaziken
279 BlazikenMega Blaziken
280 Mudkip
281 Marshtomp
282 Swampert
283 SwampertMega Swampert
284 Poochyena
285 Mightyena
286 Zigzagoon
287 Linoone
288 Wurmple
289 Silcoon
290 Beautifly
291 Cascoon
292 Dustox
293 Lotad
294 Lombre
295 Ludicolo
296 Seedot
297 Nuzleaf
298 Shiftry
299 Taillow
300 Swellow
301 Wingull
302 Pelipper
303 Ralts
304 Kirlia
305 Gardevoir
306 GardevoirMega Gardevoir
307 Surskit
308 Masquerain
309 Shroomish
310 Breloom
311 Slakoth
312 Vigoroth
313 Slaking
314 Nincada
315 Ninjask
316 Shedinja
317 Whismur
318 Loudred
319 Exploud
320 Makuhita
321 Hariyama
322 Azurill
323 Nosepass
324 Skitty
325 Delcatty
326 Sableye
327 SableyeMega Sableye
328 Mawile
329 MawileMega Mawile
330 Aron
331 Lairon
332 Aggron
333 AggronMega Aggron
334 Meditite
335 Medicham
336 MedichamMega Medicham
337 Electrike
338 Manectric
339 ManectricMega Manectric
340 Plusle
341 Minun
342 Volbeat
343 Illumise
344 Roselia
345 Gulpin
346 Swalot
347 Carvanha
348 Sharpedo
349 SharpedoMega Sharpedo
350 Wailmer
351 Wailord
352 Numel
353 Camerupt
354 CameruptMega Camerupt
355 Torkoal
356 Spoink
357 Grumpig
358 Spinda
359 Trapinch
360 Vibrava
361 Flygon
362 Cacnea
363 Cacturne
364 Swablu
365 Altaria
366 AltariaMega Altaria
367 Zangoose
368 Seviper
369 Lunatone
370 Solrock
371 Barboach
372 Whiscash
373 Corphish
374 Crawdaunt
375 Baltoy
376 Claydol
377 Lileep
378 Cradily
379 Anorith
380 Armaldo
381 Feebas
382 Milotic
383 Castform
384 Kecleon
385 Shuppet
386 Banette
387 BanetteMega Banette
388 Duskull
389 Dusclops
390 Tropius
391 Chimecho
392 Absol
393 AbsolMega Absol
394 Wynaut
395 Snorunt
396 Glalie
397 GlalieMega Glalie
398 Spheal
399 Sealeo
400 Walrein
401 Clamperl
402 Huntail
403 Gorebyss
404 Relicanth
405 Luvdisc
406 Bagon
407 Shelgon
408 Salamence
409 SalamenceMega Salamence
410 Beldum
411 Metang
412 Metagross
413 MetagrossMega Metagross
414 Regirock
415 Regice
416 Registeel
417 Latias
418 LatiasMega Latias
419 Latios
420 LatiosMega Latios
421 Kyogre
422 KyogrePrimal Kyogre
423 Groudon
424 GroudonPrimal Groudon
425 Rayquaza
426 RayquazaMega Rayquaza
427 Jirachi
428 DeoxysNormal Forme
429 DeoxysAttack Forme
430 DeoxysDefense Forme
431 DeoxysSpeed Forme
432 Turtwig
433 Grotle
434 Torterra
435 Chimchar
436 Monferno
437 Infernape
438 Piplup
439 Prinplup
440 Empoleon
441 Starly
442 Staravia
443 Staraptor
444 Bidoof
445 Bibarel
446 Kricketot
447 Kricketune
448 Shinx
449 Luxio
450 Luxray
451 Budew
452 Roserade
453 Cranidos
454 Rampardos
455 Shieldon
456 Bastiodon
457 Burmy
458 WormadamPlant Cloak
459 WormadamSandy Cloak
460 WormadamTrash Cloak
461 Mothim
462 Combee
463 Vespiquen
464 Pachirisu
465 Buizel
466 Floatzel
467 Cherubi
468 Cherrim
469 Shellos
470 Gastrodon
471 Ambipom
472 Drifloon
473 Drifblim
474 Buneary
475 Lopunny
476 LopunnyMega Lopunny
477 Mismagius
478 Honchkrow
479 Glameow
480 Purugly
481 Chingling
482 Stunky
483 Skuntank
484 Bronzor
485 Bronzong
486 Bonsly
487 Mime Jr.
488 Happiny
489 Chatot
490 Spiritomb
491 Gible
492 Gabite
493 Garchomp
494 GarchompMega Garchomp
495 Munchlax
496 Riolu
497 Lucario
498 LucarioMega Lucario
499 Hippopotas
500 Hippowdon
501 Skorupi
502 Drapion
503 Croagunk
504 Toxicroak
505 Carnivine
506 Finneon
507 Lumineon
508 Mantyke
509 Snover
510 Abomasnow
511 AbomasnowMega Abomasnow
512 Weavile
513 Magnezone
514 Lickilicky
515 Rhyperior
516 Tangrowth
517 Electivire
518 Magmortar
519 Togekiss
520 Yanmega
521 Leafeon
522 Glaceon
523 Gliscor
524 Mamoswine
525 Porygon-Z
526 Gallade
527 GalladeMega Gallade
528 Probopass
529 Dusknoir
530 Froslass
531 Rotom
532 RotomHeat Rotom
533 RotomWash Rotom
534 RotomFrost Rotom
535 RotomFan Rotom
536 RotomMow Rotom
537 Uxie
538 Mesprit
539 Azelf
540 Dialga
541 Palkia
542 Heatran
543 Regigigas
544 GiratinaAltered Forme
545 GiratinaOrigin Forme
546 Cresselia
547 Phione
548 Manaphy
549 Darkrai
550 ShayminLand Forme
551 ShayminSky Forme
552 Arceus
553 Victini
554 Snivy
555 Servine
556 Serperior
557 Tepig
558 Pignite
559 Emboar
560 Oshawott
561 Dewott
562 Samurott
563 Patrat
564 Watchog
565 Lillipup
566 Herdier
567 Stoutland
568 Purrloin
569 Liepard
570 Pansage
571 Simisage
572 Pansear
573 Simisear
574 Panpour
575 Simipour
576 Munna
577 Musharna
578 Pidove
579 Tranquill
580 Unfezant
581 Blitzle
582 Zebstrika
583 Roggenrola
584 Boldore
585 Gigalith
586 Woobat
587 Swoobat
588 Drilbur
589 Excadrill
590 Audino
591 AudinoMega Audino
592 Timburr
593 Gurdurr
594 Conkeldurr
595 Tympole
596 Palpitoad
597 Seismitoad
598 Throh
599 Sawk
600 Sewaddle
601 Swadloon
602 Leavanny
603 Venipede
604 Whirlipede
605 Scolipede
606 Cottonee
607 Whimsicott
608 Petilil
609 Lilligant
610 Basculin
611 Sandile
612 Krokorok
613 Krookodile
614 Darumaka
615 DarmanitanStandard Mode
616 DarmanitanZen Mode
617 Maractus
618 Dwebble
619 Crustle
620 Scraggy
621 Scrafty
622 Sigilyph
623 Yamask
624 Cofagrigus
625 Tirtouga
626 Carracosta
627 Archen
628 Archeops
629 Trubbish
630 Garbodor
631 Zorua
632 Zoroark
633 Minccino
634 Cinccino
635 Gothita
636 Gothorita
637 Gothitelle
638 Solosis
639 Duosion
640 Reuniclus
641 Ducklett
642 Swanna
643 Vanillite
644 Vanillish
645 Vanilluxe
646 Deerling
647 Sawsbuck
648 Emolga
649 Karrablast
650 Escavalier
651 Foongus
652 Amoonguss
653 Frillish
654 Jellicent
655 Alomomola
656 Joltik
657 Galvantula
658 Ferroseed
659 Ferrothorn
660 Klink
661 Klang
662 Klinklang
663 Tynamo
664 Eelektrik
665 Eelektross
666 Elgyem
667 Beheeyem
668 Litwick
669 Lampent
670 Chandelure
671 Axew
672 Fraxure
673 Haxorus
674 Cubchoo
675 Beartic
676 Cryogonal
677 Shelmet
678 Accelgor
679 Stunfisk
680 Mienfoo
681 Mienshao
682 Druddigon
683 Golett
684 Golurk
685 Pawniard
686 Bisharp
687 Bouffalant
688 Rufflet
689 Braviary
690 Vullaby
691 Mandibuzz
692 Heatmor
693 Durant
694 Deino
695 Zweilous
696 Hydreigon
697 Larvesta
698 Volcarona
699 Cobalion
700 Terrakion
701 Virizion
702 TornadusIncarnate Forme
703 TornadusTherian Forme
704 ThundurusIncarnate Forme
705 ThundurusTherian Forme
706 Reshiram
707 Zekrom
708 LandorusIncarnate Forme
709 LandorusTherian Forme
710 Kyurem
711 KyuremBlack Kyurem
712 KyuremWhite Kyurem
713 KeldeoOrdinary Forme
714 KeldeoResolute Forme
715 MeloettaAria Forme
716 MeloettaPirouette Forme
717 Genesect
718 Chespin
719 Quilladin
720 Chesnaught
721 Fennekin
722 Braixen
723 Delphox
724 Froakie
725 Frogadier
726 Greninja
727 Bunnelby
728 Diggersby
729 Fletchling
730 Fletchinder
731 Talonflame
732 Scatterbug
733 Spewpa
734 Vivillon
735 Litleo
736 Pyroar
737 FlabÃ©bÃ©
738 Floette
739 Florges
740 Skiddo
741 Gogoat
742 Pancham
743 Pangoro
744 Furfrou
745 Espurr
746 MeowsticMale
747 MeowsticFemale
748 Honedge
749 Doublade
750 AegislashBlade Forme
751 AegislashShield Forme
752 Spritzee
753 Aromatisse
754 Swirlix
755 Slurpuff
756 Inkay
757 Malamar
758 Binacle
759 Barbaracle
760 Skrelp
761 Dragalge
762 Clauncher
763 Clawitzer
764 Helioptile
765 Heliolisk
766 Tyrunt
767 Tyrantrum
768 Amaura
769 Aurorus
770 Sylveon
771 Hawlucha
772 Dedenne
773 Carbink
774 Goomy
775 Sliggoo
776 Goodra
777 Klefki
778 Phantump
779 Trevenant
780 PumpkabooAverage Size
781 PumpkabooSmall Size
782 PumpkabooLarge Size
783 PumpkabooSuper Size
784 GourgeistAverage Size
785 GourgeistSmall Size
786 GourgeistLarge Size
787 GourgeistSuper Size
788 Bergmite
789 Avalugg
790 Noibat
791 Noivern
792 Xerneas
793 Yveltal
794 Zygarde50% Forme
795 Diancie
796 DiancieMega Diancie
797 HoopaHoopa Confined
798 HoopaHoopa Unbound
799 Volcanion

In [152]:
# Finding rows due to a condition
df[df["Type 1"] == "Fire"]
# df.loc[df["Type 1"] == "Fire"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Sorting/Describing Data

In [153]:
# describe is a method that gives you some statistics about the data
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [154]:
# sorting the data frame due to some column/columns descending
# This will result in a DataFrame where rows are sorted primarily by 'Type 1' in descending order and, within each 'Type 1' group, the rows are sorted by 'HP' in ascending order.
df.sort_values(['Type 1', 'HP'], ascending=[0,1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
97,90,Shellder,Water,NaN,30,65,100,45,25,40,1,False
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False

# Making Changes to the data

In [155]:
# Adding a column
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

df['Total'] = df.iloc[:, 4:10].sum(axis=1)

# df.iloc[:, 4:10]: This selects a subset of the DataFrame, including all rows (:) and columns 4 through 9 (indexing starts from 0).
# .sum(axis=1): This calculates the sum along each row (axis=1). So, for each row, the values in columns 4 through 9 are summed up, and the result is stored in the 'Total' column.

df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [34]:
# Dropping a column
# df = df.drop(columns=['Total'])
# df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [156]:
# # reordering the columns
# cols = list(df.columns.values)
# df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
# df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# Saving our data

In [157]:
# df.to_csv('modified.csv', index=False)
# # index=False: This parameter specifies whether to write row names (index) to the CSV file. By setting index to False, you are indicating that you do not want to include the row index in the CSV file. If you omit this parameter or set it to True (the default), the row index will be included in the CSV file.
# df.to_csv('modified.txt', index=False, sep='\t')

# Filtering Data

In [0]:
## Filtering data due to some condition #1
# new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

## Filtering data due to some condition #2
# df.loc[df['Name'].str.contains('Mega')]

## Filtering data due to some condition #3
# df.loc[~df['Name'].str.contains('Mega')]
# ~ : negation

In [92]:
# Sample DataFrame
data = {'Name': ['John', 'Alice', 'Bob', 'David', 'Andrew', 'Ayman'],
        'Age': [25, 30, 22, 28, 45, 22]}
data = pd.DataFrame(data)
print (data.head(), end='\n================\n')

# Check if 'Name' column contains the substring 'o'
print(data.loc[data['Name'].str.contains('o')],end='\n================\n')
# Regular expression to extract rows with name column begins with 'A'
print(data[data['Name'].str.contains('A.', regex=True)],end='\n================\n')

# pattern = r'a.c'  # Matches any character between 'a' and 'c'
# pattern = r'^start'  # Matches if the string starts with 'start'
# pattern = r'this$'  # Matches if the string ends with 'this'
# pattern = r'[aeiou]'  # Matches any vowel
# pattern = r'a*'  # Matches zero or more occurrences of 'a'

     Name  Age
0    John   25
1   Alice   30
2     Bob   22
3   David   28
4  Andrew   45
================
   Name  Age
0  John   25
2   Bob   22
================
     Name  Age
1   Alice   30
4  Andrew   45
5   Ayman   22
================

In [65]:
# Resetting index

# new_df = new_df.reset_index(drop=True)
# new_df.reset_index(drop=True, inplace=True)
# new_df

# drop=True: This parameter is set to True, indicating that the existing index column should be removed after resetting the index. If drop is False or not specified, the existing index will become a new column in the DataFrame.
# 
# inplace=True: This parameter modifies the DataFrame in place, meaning the changes are applied directly to the original DataFrame without the need to assign it back to a variable. If inplace is False or not specified, a new DataFrame with the reset index is returned, and you need to assign it back to a variable if you want to keep the changes.

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
1,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
2,45,Vileplume,Grass,Poison,False,490,75,80,85,110,90,50,1
3,71,Victreebel,Grass,Poison,False,490,80,105,65,100,70,70,1
4,591,Amoonguss,Grass,Poison,False,464,114,85,70,85,80,30,5

In [95]:
## Regular Expressions
import re
# df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)]
# df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]
df.loc[df['Name'].str.contains('^pi.', flags=re.I, regex=True)]

## save data to a file.csv
# new_df.to_csv('filtered.csv')

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
20,16,Pidgey,Normal,Flying,False,251,40,45,40,35,35,56,1
21,17,Pidgeotto,Normal,Flying,False,349,63,60,55,50,50,71,1
22,18,Pidgeot,Normal,Flying,False,479,83,80,75,70,70,101,1
23,18,PidgeotMega Pidgeot,Normal,Flying,False,579,83,80,80,135,80,121,1
30,25,Pikachu,Electric,NaN,False,320,35,55,40,50,50,90,1
136,127,Pinsir,Bug,NaN,False,500,65,125,100,55,70,85,1
137,127,PinsirMega Pinsir,Bug,Flying,False,600,65,155,120,65,90,105,1
186,172,Pichu,Electric,NaN,False,205,20,40,15,35,35,60,2
219,204,Pineco,Bug,NaN,False,290,50,65,90,35,35,15,2
239,221,Piloswine,Ice,Ground,False,450,100,100,80,60,60,50,2
438,393,Piplup,Water,NaN,False,314,53,51,53,61,56,40,4
558,499,Pignite,Fire,Fighting,False,418,90,93,55,70,55,55,5
578,519,Pidove,Normal,Flying,False,264,50,55,50,36,30,43,5

**Difference between `iloc` and `loc`** 

`iloc` (Integer Location):
`iloc` is primarily integer-based indexing. It is used when you want to select rows and columns by their integer positions.
The syntax for `iloc` is `df.iloc[row_indices, column_indices]`, where row_indices and column_indices are integer-based indexers.

`loc` (Label Location):
`loc` is label-based indexing. It is used when you want to select rows and columns based on their labels (row and column names).
The syntax for `loc` is `df.loc[row_labels, column_labels]`, where row_labels and column_labels are label-based indexers.

# Conditional Changes

In [106]:
df1 = df.loc[df['Type 1'] == 'Fire']
df1.loc[df1['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'
print((df.loc[df['Type 1'] == 'Fire']).head(5), end='\n==================\n')
print(df1.head(5))
# the overall effect of this line of code is to replace any occurrence of 'Fire' in the 'Type 1' column with 'Flamer'. This is a common operation when you want to rename or recode certain values in a specific column based on a condition. After executing this line, the DataFrame df1 will be updated with the new values in the 'Type 1' column.

   #                       Name Type 1  Type 2  Legendary  Total  HP  Attack  \
4  4                 Charmander   Fire     NaN      False    309  39      52
5  5                 Charmeleon   Fire     NaN      False    405  58      64
6  6                  Charizard   Fire  Flying      False    534  78      84
7  6  CharizardMega Charizard X   Fire  Dragon      False    634  78     130
8  6  CharizardMega Charizard Y   Fire  Flying      False    634  78     104

   Defense  Sp. Atk  Sp. Def  Speed  Generation
4       43       60       50     65           1
5       58       80       65     80           1
6       78      109       85    100           1
7      111      130       85    100           1
8       78      159      115    100           1
==================
   #                       Name  Type 1  Type 2  Legendary  Total  HP  Attack  \
4  4                 Charmander  Flamer     NaN      False    309  39      52
5  5                 Charmeleon  Flamer     NaN      False    405  58      64
6  6                  Charizard  Flamer  Flying      False    534  78      84
7  6  CharizardMega Charizard X  Flamer  Dragon      False    634  78     130
8  6  CharizardMega Charizard Y  Flamer  Flying      False    634  78     104

   Defense  Sp. Atk  Sp. Def  Speed  Generation
4       43       60       50     65           1
5       58       80       65     80           1
6       78      109       85    100           1
7      111      130       85    100           1
8       78      159      115    100           1

In [108]:
df1.loc[df1['Total'] > 500, ['Generation', 'Legendary']] = ['TEST 1', 'TEST 2']
df1

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
4,4,Charmander,Flamer,NaN,False,309,39,52,43,60,50,65,1
5,5,Charmeleon,Flamer,NaN,False,405,58,64,58,80,65,80,1
6,6,Charizard,Flamer,Flying,TEST 2,534,78,84,78,109,85,100,TEST 1
7,6,CharizardMega Charizard X,Flamer,Dragon,TEST 2,634,78,130,111,130,85,100,TEST 1
8,6,CharizardMega Charizard Y,Flamer,Flying,TEST 2,634,78,104,78,159,115,100,TEST 1
42,37,Vulpix,Flamer,NaN,False,299,38,41,40,50,65,65,1
43,38,Ninetales,Flamer,NaN,TEST 2,505,73,76,75,81,100,100,TEST 1
63,58,Growlithe,Flamer,NaN,False,350,55,70,45,70,50,60,1
64,59,Arcanine,Flamer,NaN,TEST 2,555,90,110,80,100,80,95,TEST 1
83,77,Ponyta,Flamer,NaN,False,410,50,85,55,65,65,90,1
84,78,Rapidash,Flamer,NaN,False,500,65,100,70,80,80,105,1
135,126,Magmar,Flamer,NaN,False,495,65,95,57,100,85,93,1
147,136,Flareon,Flamer,NaN,TEST 2,525,65,130,60,95,110,65,TEST 1
158,146,Moltres,Flamer,Flying,TEST 2,580,90,100,90,125,85,90,TEST 1
169,155,Cyndaquil,Flamer,NaN,False,309,39,52,43,60,50,65,2
170,156,Quilava,Flamer,NaN,False,405,58,64,58,80,65,80,2
171,157,Typhlosion,Flamer,NaN,TEST 2,534,78,84,78,109,85,100,TEST 1
236,218,Slugma,Flamer,NaN,False,250,40,40,40,70,40,20,2
237,219,Magcargo,Flamer,Rock,False,410,50,50,120,80,80,30,2
259,240,Magby,Flamer,NaN,False,365,45,75,37,70,55,83,2
263,244,Entei,Flamer,NaN,TEST 2,580,115,115,85,90,75,100,TEST 1
270,250,Ho-oh,Flamer,Flying,TEST 2,680,106,130,90,110,154,90,TEST 1
276,255,Torchic,Flamer,NaN,False,310,45,60,40,70,50,45,3
277,256,Combusken,Flamer,Fighting,False,405,60,85,60,85,60,55,3
278,257,Blaziken,Flamer,Fighting,TEST 2,530,80,120,70,110,70,80,TEST 1
279,257,BlazikenMega Blaziken,Flamer,Fighting,TEST 2,630,80,160,80,130,80,100,TEST 1
352,322,Numel,Flamer,Ground,False,305,60,60,40,65,45,35,3
353,323,Camerupt,Flamer,Ground,False,460,70,100,70,105,75,40,3
354,323,CameruptMega Camerupt,Flamer,Ground,TEST 2,560,70,120,100,145,105,20,TEST 1
355,324,Torkoal,Flamer,NaN,False,470,70,85,140,85,70,20,3
435,390,Chimchar,Flamer,NaN,False,309,44,58,44,58,44,61,4
436,391,Monferno,Flamer,Fighting,False,405,64,78,52,78,52,81,4
437,392,Infernape,Flamer,Fighting,TEST 2,534,76,104,71,104,71,108,TEST 1
518,467,Magmortar,Flamer,NaN,TEST 2,540,75,95,67,125,95,83,TEST 1
542,485,Heatran,Flamer,Steel,TEST 2,600,91,90,106,130,106,77,TEST 1
557,498,Tepig,Flamer,NaN,False,308,65,63,45,45,45,45,5
558,499,Pignite,Flamer,Fighting,False,418,90,93,55,70,55,55,5
559,500,Emboar,Flamer,Fighting,TEST 2,528,110,123,65,100,65,65,TEST 1
572,513,Pansear,Flamer,NaN,False,316,50,53,48,53,48,64,5
573,514,Simisear,Flamer,NaN,False,498,75,98,63,98,63,101,5
614,554,Darumaka,Flamer,NaN,False,315,70,90,45,15,45,50,5
615,555,DarmanitanStandard Mode,Flamer,NaN,False,480,105,140,55,30,55,95,5
616,555,DarmanitanZen Mode,Flamer,Psychic,TEST 2,540,105,30,105,140,105,55,TEST 1
692,631,Heatmor,Flamer,NaN,False,484,85,97,66,105,66,65,5
721,653,Fennekin,Flamer,NaN,False,307,40,45,40,62,60,60,6
722,654,Braixen,Flamer,NaN,False,409,59,59,58,90,70,73,6
723,655,Delphox,Flamer,Psychic,TEST 2,534,75,69,72,114,100,104,TEST 1
730,662,Fletchinder,Flamer,Flying,False,382,62,73,55,56,52,84,6
731,663,Talonflame,Flamer,Flying,False,499,78,81,71,74,69,126,6
735,667,Litleo,Flamer,Normal,False,369,62,50,58,73,54,72,6
736,668,Pyroar,Flamer,Normal,TEST 2,507,86,68,72,109,66,106,TEST 1
799,721,Volcanion,Flamer,Water,TEST 2,600,80,110,120,130,90,70,TEST 1

# Aggregate Statistics (Groupby)

In [3]:
# Sample DataFrame
data = {'Type 1': ['Fire', 'Water', 'Fire', 'Water', 'Grass', 'Grass'],
        'Attack': [78, 50, 84, 65, 70, 85],
        'Defense': [65, 45, 75, 50, 55, 75]}
df = pd.DataFrame(data)
print(df)

  Type 1  Attack  Defense
0   Fire      78       65
1  Water      50       45
2   Fire      84       75
3  Water      65       50
4  Grass      70       55
5  Grass      85       75

In [9]:
# 1. Grouping the Data:

# Grouping by 'Type 1'
grouped_data = df.groupby('Type 1')

In [118]:
# 2. Applying Aggregate Functions:
# Once you have grouped the data, you can apply aggregate functions such as sum, mean, count, min, max, etc.

# Calculating the mean for each group
mean_stats = grouped_data.mean()
print(mean_stats)

        Attack  Defense
Type 1
Fire      81.0     70.0
Grass     77.5     65.0
Water     57.5     47.5

In [122]:
# 3. Aggregating Multiple Functions:
# You can also apply multiple aggregate functions at once using the agg method.
# Calculating the mean and sum for each group
agg_stats = grouped_data.agg({'Attack': 'mean', 'Defense': 'sum'})
print(agg_stats)

        Attack  Defense
Type 1
Fire      81.0      140
Grass     77.5      130
Water     57.5       95

In [124]:
# 4. Resetting Index:
# If you want to reset the index after grouping, you can use the reset_index method.
agg_stats.reset_index(inplace=True, drop=True)
print(agg_stats)

   Attack  Defense
0    81.0      140
1    77.5      130
2    57.5       95

In [125]:
# 5. Applying Custom Aggregation Functions:
# You can also apply custom aggregation functions using the agg method with a lambda function.
custom_stats = grouped_data.agg({'Attack': lambda x: x.max() - x.min(), 'Defense': 'mean'})
print(custom_stats)

        Attack  Defense
Type 1
Fire         6     70.0
Grass       15     65.0
Water       15     47.5

In [ ]:
# Finding the name of the groups
# Sample DataFrame
data = {'Type 1': ['Fire', 'Water', 'Fire', 'Water', 'Grass', 'Grass'],
        'Attack': [78, 50, 84, 65, 70, 85],
        'Defense': [65, 45, 75, 50, 55, 75]}
df = pd.DataFrame(data)

# Grouping by 'Type 1'
grouped_data = df.groupby('Type 1')

# Getting the group names
group_names = list(grouped_data.groups.keys())

# Displaying the group names
print(group_names)

In [216]:
df = pd.read_csv('modified.csv')
cols = list(df.columns.values)
df = df[[cols[2]] + cols[4:13]]
print(df.groupby(['Type 1']).mean().sort_values(by=['HP'], ascending=False))
# print(df.groupby(['Type 1']).agg(lambda x: x.sum()/x.count()).sort_values(by=['HP'], ascending=False))

               Total         HP      Attack     Defense    Sp. Atk    Sp. Def  \
Type 1
Dragon    550.531250  83.312500  112.125000   86.375000  96.843750  88.843750
Normal    401.683673  77.275510   73.469388   59.846939  55.816327  63.724490
Fairy     413.176471  74.117647   61.529412   65.705882  78.529412  84.705882
Ground    437.500000  73.781250   95.750000   84.843750  56.468750  62.750000
Water     430.455357  72.062500   74.151786   72.946429  74.812500  70.517857
Ice       433.458333  72.000000   72.750000   71.416667  77.541667  76.291667
Flying    485.000000  70.750000   78.750000   66.250000  94.250000  72.500000
Psychic   475.947368  70.631579   71.456140   67.684211  98.403509  86.280702
Fire      458.076923  69.903846   84.769231   67.769231  88.980769  72.211538
Fighting  416.444444  69.851852   96.777778   65.925926  53.111111  64.703704
Grass     421.142857  67.271429   73.214286   70.800000  77.500000  70.428571
Poison    399.142857  67.250000   74.678571   68.821429  60.428571  64.392857
Dark      445.741935  66.806452   88.387097   70.225806  74.645161  69.516129
Rock      453.750000  65.363636   92.863636  100.795455  63.340909  75.477273
Steel     487.703704  65.222222   92.703704  126.370370  67.518519  80.629630
Ghost     439.562500  64.437500   73.781250   81.187500  79.343750  76.468750
Electric  443.409091  59.795455   69.090909   66.295455  90.022727  73.704545
Bug       378.927536  56.884058   70.971014   70.724638  53.869565  64.797101

               Speed  Generation  Legendary
Type 1
Dragon     83.031250    3.875000   0.375000
Normal     71.551020    3.051020   0.020408
Fairy      48.588235    4.117647   0.058824
Ground     63.906250    3.156250   0.125000
Water      65.964286    2.857143   0.035714
Ice        63.458333    3.541667   0.083333
Flying    102.500000    5.500000   0.500000
Psychic    81.491228    3.385965   0.245614
Fire       74.442308    3.211538   0.096154
Fighting   66.074074    3.370370   0.000000
Grass      61.928571    3.357143   0.042857
Poison     63.571429    2.535714   0.000000
Dark       76.161290    4.032258   0.064516
Rock       55.909091    3.454545   0.090909
Steel      55.259259    3.851852   0.148148
Ghost      64.343750    4.187500   0.062500
Electric   84.500000    3.272727   0.090909
Bug        61.681159    3.217391   0.000000

In [189]:
df = pd.read_csv('modified.csv')
df['count'] = 1
print(df.groupby(['Type 1']).count()['count'])

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [ ]:
df = pd.read_csv('modified.csv')
df['count'] = 1
df.groupby(['Type 1', 'Type 2']).count()['count']

# Working with large amounts of data

In [218]:
csv_file = 'modified.csv'

# Initialize a new DataFrame with the same columns as the original DataFrame
new_df = pd.DataFrame(columns=df.columns)

# Process the CSV file in chunks
chunk_size = 5
for chunk in pd.read_csv(csv_file, chunksize=chunk_size):
    # Perform grouping and aggregation
    results = chunk.groupby(['Type 1']).count()
    # Concatenate the results to the new DataFrame
    new_df = pd.concat([new_df, results])

new_df.head()

,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,#,Name,Type 2
Fire,NaN,1,1,1,1,1,1,1,1,1,1.0,1.0,0.0
Grass,NaN,4,4,4,4,4,4,4,4,4,4.0,4.0,4.0
Fire,NaN,4,4,4,4,4,4,4,4,4,4.0,4.0,3.0
Water,NaN,1,1,1,1,1,1,1,1,1,1.0,1.0,0.0
Bug,NaN,2,2,2,2,2,2,2,2,2,2.0,2.0,0.0